test.5.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2018 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="element">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="sub-element"/>
			</xs:sequence>
			<xs:attribute name="attribute" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="value"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sub-element" type="T_sub-element"/>
	<xs:complexType name="subtype">
		<xs:complexContent>
			<xs:extension base="T_sub-element">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="T_sub-element">
		<xs:simpleContent>
			<xs:extension base="ST_sub-element">
				<xs:attribute name="sub-attribute" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="sub-value"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_sub-element">
		<xs:restriction base="xs:string">
			<xs:enumeration value="sub-contents"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
